extends layout

block content
  ul#messages
    each post in posts
      li #{post.post} : #{post.username}
    //- li #{posts}
  form(action='').messageInput
    input#m(autocomplete='off')
    button Send
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-3.1.1.slim.js', integrity='sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA=', crossorigin='anonymous')
  script.
    const socket = io();
    $('form').submit(() => {
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
    });
    socket.on('chat message', (msg, username) => {
    $('#messages').append($('<li>').text(msg).append($('<span>').text(' : ' + username)));
    });