extends layout

block content
  .wrapper
    .jumbotron.jumbotron-fluid
      h1.display-3 Socket.IO chat
      p.lead Express + Socket.IO + PostgreSQL で作成した簡易チャット
      p.lead
        a(href="/login" role="button").btn.btn-outline-primary.btn-lg.btn-block ログイン
        a(href="/registration" role="button").btn.btn-outline-primary.btn-lg.btn-block ユーザ登録