doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Socket.IO chat
  body
    h1 Socket.IO chat
    ul
      li: a(href='/login') Login
      li: a(href='/registration') ユーザ登録