extends layout

block content
  .wrapper
    .jumbotron.jumbotron-fluid
      form(action='./login' method='post')
        .container
          h1 Login
          .form-group
            label(for='username') ID
            input(type='text' name='username' placeholder='username' maxlength='25').form-control
          .form-group
            label(for='password') Password
            input(type='password' name='password' maxlength='25').form-control
          input(type='submit' value='Login').btn.btn-outline-primary
