extends layout

block content
  .wrapper
    .jumbotron.jumbotron-fluid
      form(action='./user' method='post')
        .container
          h1 Registration
          .form-group
            label(for='username') UserName
            input(type='text' name='username' placeholder='username' maxlength='25').form-control
          .form-group
            label(for='password') Password
            input(type='password' name='password' maxlength='25').form-control
          input(type='submit' value='OK').btn.btn-outline-primary